<main>
    <div id="level-1" class="row justify-content-center mt-5">
        <div class="container text bg-primary p-4 text-white">
            <p>This year will be an easy one. It will be like I'm 12 years old all over again! I sold my monster trucks
                years ago and in a random fit of passion, I'm going to attempt to recollect them. Some may consider this
                immature. To them I say: 'Its kinda fun though'. </p>
            <p>The links connected to each card will be places you may have not thought to look before, however the
                standard places still apply such asl Walmart and Amazon. Even eBay.</p>
            <p>If you want some guidance in the Monster Truck section, names to look for are:</p>
            <ul>
                <li>Monster Mutt, Blue Thunder, Scooby Doo, Iron Man</li>
                <li>Super Man, Spider Man, EL Toro Loco, Grave Digger</li>
                <li>Son Uva Digger, Bounty Hunter, Batman, Metal Mulisha</li>
                <li>War Wizard, Avenger, Grinder, Brutus, Iron Outlaw</li>
                <li>Lucas Oil Crusader, Stone Crusher</li>
            </ul>
            <p>Did that make it more clear? Good!</p>
        </div>
        <div class="row container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/1.24-MT.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">1:24 Scale Monster Truck @ $10</h5>
                    <p class="card-text">Just about any monster truck from this scale. My favorites are the SUV shaped
                        ones
                        (like the one in the picture). On amazon, they're much more expensive so I'd use Walmart or
                        Target.<br></p>
                    <a target="_blank"
                        href="https://hotwheels.mattel.com/shop/SearchDisplay?categoryId=&storeId=10151&catalogId=10102&langId=-1&sType=SimpleSearch&resultCatEntryType=2&showResultsPage=true&searchSource=Q&pageView=&beginIndex=0&pageSize=36&reflectionEnableSwitchVal=&searchTerm=Monster+Truck#facet:&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:&contentPageSize:&"
                        class="btn btn-primary">Hotwheels.com</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/1.64-MT.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">1:64 Scale Monster Truck @ $4</h5>
                    <p class="card-text">I am a fair bit more picky with these. But you know me, I wont complain. A
                        monster
                        truck is a monster truck. I do prefer the older style ones though. If it has black wheels, its a
                        safe bet. You can find the older style ones easier through Facebook Place and Ebay.</p>
                    <a target="_blank"
                        href="https://hotwheels.mattel.com/shop/SearchDisplay?categoryId=&storeId=10151&catalogId=10102&langId=-1&sType=SimpleSearch&resultCatEntryType=2&showResultsPage=true&searchSource=Q&pageView=&beginIndex=0&pageSize=36&reflectionEnableSwitchVal=&searchTerm=Monster+Truck#facet:&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:&contentPageSize:&"
                        class="btn btn-primary">Hotwheels.com</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/hotwheel.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotwheels</h5>
                    <p class="card-text">Don't overthink it. If it looks like a real car, I'll like it. If you see two
                        of
                        the same car that you know I'll like, like a '16 Bugatti Chiron, get both. I won't complain.
                        It's a
                        good tactic to get the car packs too. You can also go for the more expensive fancy collector
                        cars. <strong class="text-info">I recommend looking at facebook marketplace and ebay to get large group deals for cars.</strong> In the end it'll be cheaper and you can just buy one giant collection off of someone. However, keep in mind, you should <strong class="text-danger">Never pay more than $2 per car.</strong> They're not worth more than that to me.
                    </p>
                    <a href="https://www.ebay.com/itm/Hot-Wheels-Mixed-lot-of-30-Cars-will-vary-in-age-no-duplicates-FREE-SHIPPING/193582435635?hash=item2d12698d33:g:tJwAAOSwLN5ewLai"
                        target="_blank" class="btn btn-primary">Ebay.com</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/wotpin.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">World of Tanks Pins @ $10</h5>
                    <p class="card-text">I like to collect these. Some of these I can't even get in the real game so
                        I'll
                        just buy it.
                    </p>
                    <a href="https://www.wargamingstore.com/collections/world-of-tanks/pin" target="_blank"
                        class="btn btn-primary">Amazon.com</a>
                </div>
            </div>
        </div>

    </div>
    <div id="level-2" class="row justify-content-center mt-5">
        <div class="container text bg-primary p-4 text-white">
            <p>Okay so this is the more pricey section. Not to say the last section couldn't be pricey, but for some
                reason I can't seem to convince anyone $200 worth of hotwheels and monster trucks is enough for me.</p>
        </div>

        <div class="row container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/hotwheels_storage.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotwheels Storage @ $35-$50</h5>
                    <p class="card-text">Now then end goal for this is a glass container to store them all in, but
                        you've
                        gotta start somewhere. I think this might be a good start. The one I linked is just one I
                        thought
                        would be good, but feel free to look for yourself.</p>
                    <a target="_blank"
                        href="https://www.etsy.com/listing/704412608/hot-wheels-display-case-will-be-black?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=hotwheels+display&ref=sr_gallery-1-1&organic_search_click=1&bes=1"
                        class="btn btn-primary">Etsy.com</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/super_treasure_example.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hot Wheels Treasure Hunt Sets @ $35-$60</h5>
                    <p class="card-text">Now, I know I said before that you shouldn't pay more than $2 for a Hot Wheels car. However this is a different territory. There's levels to this system. They make a very limited amount of special cars and hide them within their sets. They're called Treasure hun and Super Treasure hunt cars. I recommend getting them in sets. You can look them up to make sure they're all the right cars in the group. Theres a set of treasure hunt and super treasure hunts for each year. Will have to use ebay for these. You can look for them in person, but its an unlikely find. <strong class="danger">A single super treasure hunt car will run $60 by itself so these are kind of out of the question unless you can find them in a store for $1</strong></p>
                    <a target="_blank"
                        href="https://www.ebay.com/itm/Hot-Wheels-2020-Treasure-Hunt-Complete-Set/114521343041?hash=item1aaa010441:g:mf8AAOSwwVZfsdTd"
                        class="btn btn-primary">2020 Set</a>
                        <a target="_blank" href="https://www.ebay.com/itm/Hot-Wheels-2019-2012-Regular-Treasure-Hunt-Misc-Set-of-19-Cars-Super-Deal/143837420274?hash=item217d60daf2:g:PcIAAOSwCyZfmnX4" class="btn btn-primary">2019 Set</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/1.24-car.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">1:24 Scale Cars @ $20-$25</h5>
                    <p class="card-text">Contrary to the Monster Trucks at this size, getting these cars from amazon is
                        a
                        pretty good deal as they're the same price as at Walmart. McLaren's, Lamborghini's, any cool car
                        really. Not a fan of the older ones. The link is too 3000toys as it can give some cool ones, but
                        amazon is a fine place to look.</p>
                    <a target="_blank" href="https://www.3000toys.com/catalog/products.aspx?scale=1/24"
                        class="btn btn-primary">3000toys.com</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/keyboard.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">"ABS Double Shot Keycaps" @ $40</h5>
                    <p class="card-text">A bit of a switch up. I've finally got my hands ona modular keyboard, so time
                        to
                        try and test that modularity. The theme of my computer is going to be the Veloster N in
                        performance
                        blue, for reference.
                    </p>
                    <a href="https://mechanicalkeyboards.com/shop/index.php?l=product_detail&p=2349" target="_blank"
                        class="btn btn-primary">MechanicalKeyboards.com</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/wristrest.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Keyboard Wristrest @ $30</h5>
                    <p class="card-text">So I have one of these that came with one of my other keyboards, but its way to
                        big
                        for my modular keyboard so this is a smaller one that I think I will like.
                    </p>
                    <a href="https://mechanicalkeyboards.com/shop/index.php?l=product_detail&p=6462" target="_blank"
                        class="btn btn-primary">MechanicalKeyboards.com</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/cable.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Coiled Keyboard USB C cable @ $30 (?)</h5>
                    <p class="card-text">This is like, a "what's in" in terms of computer set ups. I kinda just want to
                        try
                        one and see what it looks like. Im going to provide two links for this, one is for the color
                        chart,
                        the other for the actual order form. The idea is it would match the keycaps, so if you don't buy
                        the
                        keycaps, don't get the cable. <strong class="text-secondary">Cable Specifications: Length: .5m,
                            USB
                            A to USB C, PC (paracord) sleeve, heatshrink in black</strong>
                    </p>
                    <p>If this is too much, I understand. Odds are it's out of stock anyway.</p>
                    <a href="https://clarkkable.com/" target="_blank" class="btn btn-primary">Clarkkable.com</a>
                    <a href="https://clarkkable.com/colour-options/" target="_blank" class="btn btn-primary">Colors</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/wotartbook.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">W.o.T Artbook 10th Anniversaary @ $40 </h5>
                    <p class="card-text">I love artbooks of games I play and there hasn't been a game more fundamental
                        in my
                        life than the Legend World of Tanks itself. Nothing more to be said.
                    </p>
                    <p>If this is too much, I understand. Odds are it's out of stock anyway.</p>
                    <a href="https://www.wargamingstore.com/collections/world-of-tanks/products/world-of-tanks-artbook-10th-anniversary-standart"
                        target="_blank" class="btn btn-primary">wargamingstore.com</a>
                </div>
            </div>
        </div>
    </div>
    <div id="level-3" class="row justify-content-center mt-5">
        <div class="container text bg-primary p-4 text-white">
            <p>Oh, interested in the next level are we. Alright, I'll reach a bit deeper now. I don't expect much from
                here though. There wont be a price range for this. This will be the section I use for multiple years. I
                kinda feel guilty making this list. I don't like asking for big things truth be told. </p>
        </div>

        <div class="row container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/pixel5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Google Pixel 4A 5G or 5 @ $500+</h5>
                    <p class="card-text">I really want to try an android phone and I like google so why not. They make
                        cheap
                        and simple phones with good cameras. Its definitely not a need. Not even close however, it would
                        be
                        really cool.</p>
                    <a target="_blank" class="btn btn-danger">No Link. Will have to buy in person.</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/LG.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">LG 1920p Monitor @ $300+</h5>
                    <p class="card-text">I have the widescreen LG monitor and I absolutely love it, it's everything I
                        need
                        it to be...except small. The ultimate setup would to be to have a standard 1920x1080 screen for
                        my
                        main screen and use the widescreen in a vertical orientation. It makes coding easier when I dont
                        have to scroll as much + it's easier to design websites when its a standard sized screen. I like
                        LG
                        and it would be cool for my screens to match. The one I selected was a random select. Pick as
                        you
                        see fit. Monitors are rather expensive.</p>
                    <a target="_blank" href="https://www.lg.com/us/monitors/lg-27UL850-W-4k-uhd-led-monitor"
                        class="btn btn-primary">LG.com</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/armmount.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dual Monitor Arm Mount @ $30+</h5>
                    <p class="card-text">I know this isn't an expensive item, but there's really no point in me getting
                        it
                        if I don't have the monitor with it so I kinda has to be down here. The link isn't anything
                        specific. I know just as well as you do what I'm looking for.</p>
                    <a target="_blank"
                        href="https://www.amazon.com/s?k=dual+monitor+mount&gclid=CjwKCAiAkan9BRAqEiwAP9X6UZrDlCXGcT_tB9Me_CgHOIkRmUqpTBsZM50eCYrhgA2SUExAIbkR0xoCUAIQAvD_BwE&hvadid=174210663333&hvdev=c&hvlocphy=9022868&hvnetw=g&hvqmt=e&hvrand=17498726248470225879&hvtargid=kwd-1153457162&hydadcr=24657_9648987&tag=googhydr-20&ref=pd_sl_6nilcnb399_e"
                        class="btn btn-primary">Amazon.com</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/watch.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Watches @ under $500</h5>
                    <p class="card-text">I like watches. Watches are cool. I'll give you a few cool ones.</p>
                    <a target="_blank"
                        href="https://www.macys.com/shop/jewelry-watches/mens-watches/Price,Watch_style/0.0%257C499.99,Luxury?id=57386"
                        class="btn btn-info mb-2">(all) Macys.com</a>
                    <a target="_blank"
                        href="https://www.macys.com/shop/product/michael-kors-mens-blake-black-stainless-steel-bracelet-watch-42mm?ID=8570453&CategoryID=57386"
                        class="btn btn-primary mb-2">Macys.com</a>
                    <a target="_blank"
                        href="https://www.macys.com/shop/product/boss-mens-chronograph-velocity-black-silicone-strap-watch-45mm?ID=10050563&CategoryID=57386"
                        class="btn btn-primary mb-2">Macys.com</a>
                    <a target="_blank"
                        href="https://www.macys.com/shop/product/citizen-drive-from-citizen-eco-drive-mens-blue-polyurethane-strap-watch-45mm?ID=5670910&CategoryID=57386"
                        class="btn btn-primary mb-2">Macys.com</a>
                    <a target="_blank"
                        href="https://www.macys.com/shop/product/hugo-mens-smash-black-leather-strap-watch-43mm?ID=10523749&CategoryID=57386"
                        class="btn btn-primary mb-2">Macys.com</a>


                </div>
            </div>
        </div>

    </div>
</main>